In [ ]:
import pandas as pd
import numpy as np

change everything to lowercase
If ingredient contains 'vodka' change to vodka
If ingredient contains 'gin' change to gin
Take a closer at other liquors
Maybe remove words like fresh?
Check ingredient values:
     - bitters : change measure to 0.1 
     - looks for incorrect recipes... such as Eggnog Supreme
     - etc ...

pivot table
Remove duplicates (martini had 4 versions of the same thing)
Drop drinks with 1 ingredient

In [39]:
url = "https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-05-26/boston_cocktails.csv"
df = pd.read_csv(url)
df

,name,category,row_id,ingredient_number,ingredient,measure
0,Gauguin,Cocktail Classics,1,1,Light Rum,2 oz
1,Gauguin,Cocktail Classics,1,2,Passion Fruit Syrup,1 oz
2,Gauguin,Cocktail Classics,1,3,Lemon Juice,1 oz
3,Gauguin,Cocktail Classics,1,4,Lime Juice,1 oz
4,Fort Lauderdale,Cocktail Classics,2,1,Light Rum,1 1/2 oz
...,...,...,...,...,...,...
3638,Vow Of Silence,Gin,990,2,Grapefruit Juice,3/4 oz
3639,Vow Of Silence,Gin,990,3,Fresh Lime Juice,1/2 oz
3640,Vow Of Silence,Gin,990,4,Yellow Chartreuse,1/2 oz
3641,Vow Of Silence,Gin,990,5,Amaro,1/4 oz
3642,Vow Of Silence,Gin,990,6,Simple Syrup,1/4 oz

In [41]:
df.shape

(3643, 6)

In [16]:
df = df.loc[df['category'] != 'Non-alcoholic Drinks']

In [32]:
# grouped = df.groupby('name')['ingredient_number'].sum().sort_values().head(500)
# grouped.value_counts()
grouped = df.groupby('name').size()
grouped.value_counts().sort_values()

1     31
6     57
2    118
5    194
3    291
4    297
dtype: int64

In [44]:
df = df.groupby('name').filter(lambda x: len(x) > 1)
df.shape

(3612, 6)

In [49]:
ingredient_counts = df.groupby('name').size()
exactly_two_ingredients = ingredient_counts == 2
df_two_ingredients = df[df['name'].isin(exactly_two_ingredients[exactly_two_ingredients].index)]
df_two_ingredients['name'].unique()

array(['Apple Pie', 'Caribbean Champagne', 'Amaretto Stinger',
       'Amaretto And Cream', 'Montreal Club Bouncer',
       'Martini (Dry) (5-to-1)', "Mamie's Sister", 'Lone Tree Cocktail',
       'London Buck', 'Leap Frog Highball', 'Hoffman House Cocktail',
       'White Russian', 'Greyhound', 'Gin and It', 'Gin Cocktail',
       'Flying Dutchman', 'Fifty-Fifty Cocktail', 'Dry Martini (5-to-1)',
       'Vodka Stinger', 'Bulldog Highball', 'Billy Taylor',
       'Highland Cooler', 'Tempter Cocktail',
       'Merry Widow Cocktail No. 2', 'Hennessy Martini', 'Cherry Sling',
       'Cherry Fizz', 'Vodka Cooler', 'Carrol Cocktail', "Bull's Eye",
       'Dixie Julep', "Buddy's Favorite", 'Bourbon and Water',
       'Sake Martini', 'Godfather', 'Martini', 'Mandarine Sour',
       'Twister', 'Harvard Cooler', 'Grenadine Rickey', 'T.N.T. No. 1',
       'The Debonair', 'Screwdriver', 'Dry Martini', 'Dillatini Cocktail',
       'White Cargo Cocktail', 'French Quarter', 'Cowboy Cocktail',
       'Champagne Velvet', 'Caf_ di Amaretto', 'Suntan', 'Sunburn',
       'Suissesse Cocktail', 'Strawberry Sunries', 'Silver Stallion Fizz',
       'Sherry Milk Punch', 'Prairie Chicken', 'Moscow Mule',
       'Mint Collins', 'Mary Garden Cocktail', 'Vodka Martini',
       'Sake Martini (Sakini)', "Widow's Dream", 'Whiskey Skin',
       'Whiskey Milk Punch', 'T.N.T. Cocktail No. 1', 'Headless Horseman',
       'Handball Cooler', 'Godmother', 'Green Hornet (Dry)',
       'Golden Slipper', "General Harrison's Eggnog", 'Frisky Witch',
       'Dillatini', 'Zaza Cocktail', 'Vermouth Cassis', 'Bentley',
       'Susie Taylor', 'Bulldog Highballl', 'Stormy Colada',
       'Spanish Town Cocktail', 'Boston Bullet', 'Black Velvet',
       'Antoine Special', 'A. J.', 'Absinthe Drip Cocktail',
       'Rum Screwdriver', 'Rum Rickey', 'Scotch Cocktail', 'Rum Martini',
       'Rum Cobbler', 'Poker Cocktail', 'Night Cap', 'Bullfrog',
       'Bordeaux Cocktail', 'Stinger Cocktail', 'The Blood Orange',
       'Black Russian', 'Beer Buster', 'Praire Chicken', 'Tequonic',
       'Rob Roy Cocktail', 'T.N.T. Cocktail', "Widow's Dream Cocktail",
       'Orange Gin Rickey', 'Orange Gin Collins',
       'Manhattan Cocktail (dry)', 'Mamie Taylor', 'Lounge Lizard',
       'Little Princess Cocktail', 'Golden Slipper Cocktail',
       'Carroll Cocktail', 'Paloma (Natural)', 'Mexicola', "Bulla's Eye",
       'Brave Bull', 'Black Hawk Cocktail', 'White Lady'], dtype=object)

In [51]:
df[df['name'] == 'Dry Martini (5-to-1)']

,name,category,row_id,ingredient_number,ingredient,measure
328,Dry Martini (5-to-1),Cocktail Classics,98,1,Gin,1 2/3 oz
329,Dry Martini (5-to-1),Cocktail Classics,98,2,Dry Vermouth,1/3 oz

In [53]:
df[df['name'] == 'Dry Martini']

,name,category,row_id,ingredient_number,ingredient,measure
875,Dry Martini,Cocktail Classics,256,1,Mr. Boston Gin,1 2/3 oz
876,Dry Martini,Cocktail Classics,256,2,Dry Vermouth,1/3 oz

In [55]:
df[df['name'] == 'Martini']

,name,category,row_id,ingredient_number,ingredient,measure
626,Martini,Cocktail Classics,192,1,Mr. Boston Gin,1 1/2 oz
627,Martini,Cocktail Classics,192,2,Dry Vermouth,3/4 oz

In [66]:
ingredient_counts = df.groupby('ingredient').size().sort_values(ascending=True)
ingredient_counts

ingredient
100-proof Vodka                                 1
Orange blossom water                            1
Orange and lemon wheels, maraschino cherry      1
Orange Flavored Gin                             1
Orange Bitters (if desired)                     1
                                             ...
Light Rum                                     111
Vodka                                         112
Simple Syrup                                  115
Fresh lemon juice                             138
Gin                                           176
Length: 560, dtype: int64

In [71]:
df[df['name'] == 'Eggnog Supreme'] # drop this

,name,category,row_id,ingredient_number,ingredient,measure
2129,Eggnog Supreme,Cocktail Classics,584,1,Medium Eggs,1 oz
2130,Eggnog Supreme,Cocktail Classics,584,2,Sugar,1 oz
2131,Eggnog Supreme,Cocktail Classics,584,3,Whole milk,1 1/2 oz
2132,Eggnog Supreme,Cocktail Classics,584,4,"Heavy Cream, Whipped",1 oz
2133,Eggnog Supreme,Cocktail Classics,584,5,Cognac,1 750-ml